<!DOCTYPE html>
<html lang="en">
<head>
  <title>Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js"></script>
  <script src="../js/map.js"></script>
 
</head>
<body>

<header class="container-fluid text-center">
  	<h2> SEARS HOLDINGS INDIA</h2>
	<h3> BLOG</h3>
</header>
  
<div class="container-fluid">    
  <div class="row">
    <div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="page-header">Birthday Wishes</h3>
				<div class="col-xs-12 col-sm-4">
					<img src="../assets/img1.jpg" class="img-circle img-responsive center-block">
					<div class="caption text-center"> 
						<h4>Tina</h4>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<img src="../assets/img2.jpg" class="img-circle img-responsive center-block">
					<div class="caption text-center"> 
						<h4>Oswal</h4>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<img src="../assets/img3.jpg" class="img-circle img-responsive center-block">
					<div class="caption text-center"> 
						<h4>Kattie</h4>
					</div>
				</div>
			</div>
		</div>   
	    <div class="text-justify update">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3 class="page-header">Updates</h3>
					<p>
						<img src="../assets/press-release.jpg" id="img_left" class="center-block">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor 
						incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud 
						exercitation ullamco laborisnisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor inreprehenderit in voluptate velit esse cillum dolore eu fugiat nullapariatur.
						</p>
						<p>Excepteur sint occaecat cupidatat non proident, sunt inculpa qui officia deserunt mollit 
						anim id est laborum.
						</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,Excepteur sint occaecat cupidatat non
						proident, sunt inculpa qui officia deserunt cupidatat non proident, sunt 
						</p>
					</p>
				</div>
			</div>
		</div>
    </div>
	
	<div class="col-sm-8">
		<div class="row">
			<div class="col-sm-12">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>                        
						</button>
						<h4><a href="https://searsholdings.in/">Sears</a>
						</h4>
					</div>
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav navbar-right">	
							<li><a href="https://searsholdings.in/">Home</a></li>
							<li><a href="https://searsholdings.in/about-us/about-shi">About Us</a></li>
							<li><a href="https://searsholdings.in/contact-us">Contact</a></li>
						</ul>
					</div>  
			    </nav>
			</div> 
			<div class="panel panel-default">
				<div class="panel-body">
					<h3 class="page-header">Values of Sears</h3>
					<div class="col-xs-12 col-sm-3">  
						<img src="../assets/value1.png" style="margin: 0 auto;" class="img-responsive block1" >
						<div class="caption  text-center"> 
							<h4>Members First
							</h4>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3">   
						<img src="../assets/value2.png" style="margin: 0 auto;" class="img-responsive block1" >
						<div class="caption text-center"> 
							<h4>Own It
							</h4>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3">   	
						<img src="../assets/value3.png" style="margin: 0 auto;" class="img-responsive block1">
						<div class="caption text-center"> 
							<h4>Embrace Feedback
							</h4>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3">  
						<img src="../assets/value4.png" style="margin: 0 auto;" class="img-responsive block1">
						<div class="caption text-center"> 
							<h4>Show Pride
							</h4>
						</div>
					</div>  
				</div>
		   </div>
        </div>
		<div class="row well">
			<div class="col-sm-6">
				<p class="p1">CSR</p>
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="../assets/csr1.jpg"  height="95" width="120">
						<p class="p2"> Team visited Prayatna, an NGO for priveleged kids </p>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="../assets/csr2.jpg"  height="95" width="120">
						<p class="p2"> CSR Team’s Lunch at Maher Ashram</p>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="../assets/csr3.jpg"  height="95" width="120">
						<p class="p2"> SHI donated towards PM National Relief Fund</p>
					</div>
				</div>
			</div> 
			<div class="col-sm-6 text-justify">
				<p class="p1">HR Updates</p>
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="../assets/job.png"  height="95" width="120">
						<p>Hardware Maintenance Support Analyst </p>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="../assets/job.png"  height="95" width="120">
						<p>Hardware Maintenance Support Analyst </p>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="../assets/job.png" height="95" width="120">
						<p>Pentaho lead </p>
					</div>
				</div> 
				<div>
					<p> For more details please visit our career section <a href="https://searsholdings.in/careers"><i class="fa fa-at fa-fw"></i>Careers</a></p>
				</div>
			</div>
		</div>
	 </div>
  </div>
</div>
<footer class="container-fluid">
	<div class="row">
		<div class="col-sm-9">
			<div id="googleMap">
			</div>
				<a class="list-group-item" href="#"><i class="fa fa-copyright"></i>&nbsp; Copyrights 2016, Sears </a> 
		</div>
		<div class="col-sm-3">
			<h3>Contact Information</h3>
				<div class="list-group">
					<a class="list-group-item" href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
					<a class="list-group-item" href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a>
					<a class="list-group-item" href="#"><i class="fa fa-bookmark"></i>&nbsp; Bookmark</a>
					<a class="list-group-item" href="#"><i class="fa fa-phone"></i>&nbsp; Call </a>
					<a class="list-group-item" href="#"><i class="fa fa-at fa-fw"></i>&nbsp; something@some.com</a>
				</div>
		</div>
	</div>
</footer>
</body>
</html>
